@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for {
        &__item {
            height: 268px;
        }
    }

    .product-content {
        column-gap: 30px;
        row-gap: 38px;
    }

    .footer {
        &__img {
            display: none;
        }

        &__heading {
            padding-top: 15px;
        }

        &__heading-cart {
            padding-top: 0px;
        }

        &__info {
            gap: 133px;
        }

    }

    .form {
        /* padding-bottom: 24px; */
        padding-top: 14px;

        &__text {
            margin-top: 0px;
        }

        &__cart {
            padding-top: 0px;
        }

    }

    .section {
        padding-top: 60px;

        &__tuxt_ronald {
            margin-bottom: 17px;
        }

        &__tuxt_vent {
            margin-bottom: 15px;
        }

        &-cart {
            padding-top: 40px;
        }

    }

    .headline__picture_vent {
        margin-bottom: 7px;
    }

    .headline__tuxt_vent {
        margin-bottom: 10px;
    }

    .header__Catalog {
        margin-bottom: 31px;
        padding-top: 34px;
    }

    .headline__picture {
        margin-bottom: 6px;
    }


    .cart {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 64px;

        &__input {
            padding-right: 24px;
        }

        &__butto-box {
            margin-top: 0px;
        }

        &__form {
            padding-top: 2px;
        }

    }

    .box__link {
        padding-bottom: 64px;
        padding-top: 40px;
    }

    .box__link-go {
        padding-bottom: 64px;
        padding-top: 40px;
    }


}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product {
        width: 345px;

    }

    .footer__info {
        padding-left: 24px;
    }

    .menu {
        padding-right: 24px;
    }

    .cart {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 64px;
    }

    .box__link {
        padding-bottom: 64px;
        padding-top: 40px;
    }

    .biv__link {
        padding-bottom: 64px;
        padding-top: 32px;
    }

    .box__link-go {
        padding-bottom: 64px;
        padding-top: 32px;
    }


}